{% extends "main/base.html" %}
{% load static %}

{% block title %} Add a New Certificates {% endblock %}

{% block content %}

<style>
    
    input{
        border-radius: 20px;
    }
</style>


<form action="" method="post">
    {% csrf_token %}
    <div class="article-clean">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
              <div class="intro">
                  <h1 class="text-center"><input class="w3-center" style="padding: 5px 0 5px 0; width: 950px;" name="name" type="text" placeholder="Certificate Name" required></h1>
                  <p class="text-center"><span class="by"><input class="w3-center" style="padding: 5px 0 5px 0; width: 200px;" type="text" name="issuing_organization" placeholder="Certificate organization" required></span></p>
                  <p class="text-center"><span class="by"><input class="w3-center" style="padding: 5px 0 5px 0; width: 200px;" name="certificate_id" type="number" placeholder="Certificate id" required></span></p>
                  <p class="text-center"><span class="by"><input class="w3-center" style="padding: 5px 0 5px 0; width: 450px;" name="certificate_url" type="url" placeholder="Certificate URL" required></span></p>
              </div>
                <div class="w3-center" style="margin-bottom: -15px;"><button class="btn btn-round" style="color: white; background-color: #506568;"> <i class="fa fa-envelope me-2"></i>New Certificate</button></div>
              <br>
            </div>
          </div>
        </div>
      </div>      
</form>


{% endblock %}