{% extends "main/base.html" %}
{% load static %}

{% block title %} Company {% endblock %}

{% block content %}


<!-- Team Section -->
<div class="w3-container" style="padding:128px 16px" id="team">
    <h3 class="w3-center">THE COMPANIES</h3>
    <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <img src="{% static 'img/team.jpg' %}" alt="John" style="width:100%">
          {% for company in view_company %}
          <div class="w3-container">
            <h3>{{ company.name }}</h3>
            <p class="w3-opacity">{{ company.email }}</p>
            <p><a href="{{ company.website }}" target="_blank">Visit our website</a></p>
              <p class="content-box">{{ company.description }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>


{% endblock %}