{% extends "main/base.html" %}
{% load static %}

{% block title %} The Space Case {% endblock %}

{% block content %}


    <!-- Header with full-height image -->
    <header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
        <div class="w3-display-left w3-text-white" style="padding:48px">
        <span class="w3-jumbo w3-hide-small">Start something that matters</span><br>
        <span class="w3-large">Stop wasting valuable time with projects that just isn't you.</span>
        <p><a href="#about" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more and start today</a></p>
        </div> 
        <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
            <a href="{% url 'main:contact_page' %}" target="_blank"><i class="bi bi-envelope-at w3-hover-opacity"></i></a>
            <a href="https://github.com/ZeNullOrb" target="_blank"><i class="bi bi-github w3-hover-opacity"></i></a>
            <a href="https://www.linkedin.com/in/elyas-balgasim" target="_blank"><i class="bi bi-linkedin w3-hover-opacity"></i></a>
        </div>
    </header>
    <!-- About Section -->
    <div class="w3-container" style="padding:128px 16px" id="about">
        <h3 class="w3-center">ABOUT THE WEBSITE</h3>
        <p class="w3-center w3-large">Key features of our webstie</p>
        <div class="w3-row-padding w3-center" style="margin-top:64px">
        <div class="w3-quarter">
            <i class="fa fa-desktop mt-4 w2-margin-bottom w3-jumbo w3-center"></i>
            <p class="w3-large">Responsive</p>
        </div>
        <div class="w3-quarter">
            <i class="bi bi-columns-gap w2-margin-bottom w3-jumbo"></i>
            <p class="w3-large" style="margin-top: -8px;">Simple</p>
        </div>
        <div class="w3-quarter">
            <i class="fa fa-diamond mt-4 w2-margin-bottom w3-jumbo"></i>
            <p class="w3-large">Design</p>
        </div>
        <div class="w3-quarter">
            <i class="fa fa-cog mt-4 w2-margin-bottom w3-jumbo"></i>
            <p class="w3-large">Support</p>
        </div>
        </div>
    </div>
    <!-- Promo Section "Statistics" -->
    <div class="w3-container w3-row w3-center w3-dark-grey w3-padding-64">
        <div class="w3-quarter">
        <span class="w3-xxlarge">+{{ companies.count }}</span>
        <br>Partners
        </div>
        <div class="w3-quarter">
        <span class="w3-xxlarge">+{{ posts.count }}</span>
        <br>Jobs posted
        </div>
        <div class="w3-quarter">
        <span class="w3-xxlarge">+{{ users.count }}</span>
        <br>Happy Clients
        </div>
        <div class="w3-quarter">
        <span class="w3-xxlarge">+{{ certificates.count }}</span>
        <br>Certificates
        </div>
    </div>

{% endblock %}

