{% extends "main/base.html" %}
{% load static %}

{% block title %} Posts {% endblock %}

{% block content %}


<!-- Team Section -->

  <div class="w3-container" style="padding:128px 16px" id="team">
    <h3 class="w3-center">THE POSTS</h3>
    <p class="w3-center w3-large">Where you can start your career</p>
      <!-- PLAIN CARDS -->
      <div class="cards-2 section-gray">
        <div class="container">
            <div class="row">
            {% for post in view_post %}
                <div class="col-md-4">
                    <div class="card card-blog">
                        <div class="card-image">
                            <img class="img img-raised" src="{{ post.image.url }}" alt="John" style="width:100%">
                            <div class="ripple-cont"></div>
                        </div>
                        <div class="table">
                        <h3 class="card-caption"><a href="{% url 'main:view_post' post.id %}">{{ post.title }}</a></h3>
                          <h6 class="category text-info"><a href="{{ post.company.website }}">{{ post.company }}</a></h6>
                          <h4 class="card-caption content-box">{{ post.content }}</h4>
                          {% for certificate in post.certificate.all %}
                            <a href="{% url 'main:view_certificate' certificate.id %}" class="btn btn-warning btn-round" style="color: blue;"> <i class="me-1 bi bi-patch-check"></i>{{ certificate.name }}</a>
                          {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
      </div>
  </div>


{% endblock %}