{% extends 'main/base.html' %}

{% block title %} Add a New Post {% endblock %}

{% block content %}

<div class="container">
<h2>Add a New Post</h2>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="transbox">
        <div class="row">
            <div class="col" id = "box">
                <input type="text" name="title" class="form-control m-2 text-dark" placeholder="Title"/>
                <textarea class="form-control m-2 text-dark" name="content" placeholder="Content"></textarea>
                <select name="company" id="company">
                    {% for company in companies %}
                    <option value="{{ company.id }}">{{ company.name }}</option>
                    {% endfor %}
                </select>
                <div class="form-check" name="certificate">
                    {% for certificate in certificates %}
                    <input class="form-check-input" type="checkbox" value="{{ certificate.id }}" id="flexCheckDefault" 
                    {% if certificate.name in post.certificate %} checked {% endif %}>
                    <label class="form-check-label" for="flexCheckDefault">
                        {{ certificate.name }}
                    </label>
                    
                    {% endfor %}
                </div>
                <br>

                <div class="w3-center" style="margin-bottom: -15px;">
                    <button class="btn btn-round" style="color: white; background-color: #506568;">
                        <i class="fa fa-envelope me-2"></i>Update Post
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
</div>



{% endblock %}