{% extends "main/base.html" %}
{% load static %}

{% block title %} Company {% endblock %}

{% block content %}


<div class="article-clean">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
        <div class="intro">
            <h1 class="text-center">{{ view_company.name }}</h1>
            <p class="text-center"><span class="by">visit </span><a href="{{ view_company.address }}" target="_blank">{{ view_company.address }}</a><span class="date">{{ view_company.phone }}</span></p>
            <img class="img-fluid" src="{{ view_company.image.url }}" alt="">
        </div>
        <div class="text">
          <p>{{ view_company.description }}</p>
        </div>
        <div class="w3-center" style="margin-bottom: -15px;">
          <a href="{{ view_company.website }}" target="_blank" class="btn btn-success btn-round" style="color: white;"> <i class="fa fa-envelope me-2"></i>Check the website</a>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>


{% endblock %}