{% extends "main/base.html" %}
{% load static %}

{% block title %} Certificate {% endblock %}

{% block content %}

<div class="main-content paddsection">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
            <div class="container-main single-main">
              <div class="col-md-12">
                <div class="block-main mb-30">
                  <div class="container">
                    <div class="content-main single-post padDiv">
                      <div class="journal-txt ms-2 mt-5">
                        <h4 style="color: white;">{{ view_certificate.name }}</h4>
                      </div>
                      <div class="post-meta">
                        <ul class="list-unstyled mb-0">
                          <li>{{ view_certificate.issuing_organization }}</li>
                        </ul>
                      </div>
                      <p class="mb-30 ms-2"><a href="{{ view_certificate.certificate_url }}">Website</a></p>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}