{% extends "main/base.html" %}
{% load static %}

{% block title %} Certificate {% endblock %}

{% block content %}


<div class="article-clean">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
        <div class="intro">
            <h1 class="text-center">{{ view_certificate.name }}</h1>
            <p class="text-center"><span class="by">by {{ view_certificate.issuing_organization }}</span></p>
        </div>
        <div class="w3-center" style="margin-bottom: -15px;">
          <a href="{{ certificate.certificate_url }}" target="_blank" class="btn btn-success btn-round" style="color: white;"> <i class="fa fa-envelope me-2"></i>Check the website</a>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>

{% endblock %}