{% extends 'main/base.html' %}
{% load static %}

{% block title %} Register New User {% endblock %}


{% block content %}
<style>
  label{
    opacity: 0.8;
    margin-bottom: 0;
    margin-top: 10px;
  }

  .login-dark form {
  max-width:500px;
  width:90%;
  }

</style>


<div class="login-dark" style="margin-top: -50px;">
  <form method="post" action="">
    {% csrf_token %}
    
      <div class="illustration"><i class="bi bi-person-add"></i></div>
      {% if msg %}
            <h6 class="text-danger" >{{msg}}</h6>
      {% endif %}
      <label for="username">Username</label>
      <div class="form-group"><input class="form-control" id="username" type="username" name="username" placeholder="Username"></div>
      <label for="first_name">First name</label>
      <div class="form-group"><input class="form-control" id="first_name" type="first_name" name="first_name" placeholder="Password"></div>
      <label for="last_name">Last name</label>
      <div class="form-group"><input class="form-control" id="last_name" type="last_name" name="last_name" placeholder="Password"></div>
      <label for="email">Email</label>
      <div class="form-group"><input class="form-control" id="email" type="email" name="email" placeholder="Password"></div>
      <label for="password">Password</label>
      <div class="form-group"><input class="form-control" id="password" type="password" name="password" placeholder="Password"></div>
      <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Register</button></div>
    </form>
</div>



{% endblock %}
