{% extends 'main/base.html' %}

{% block title %} Add a New Post {% endblock %}

{% block content %}

<div class="container">
<h2>Add a New Post</h2>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="transbox">
        <div class="row">
            <div class="col" id = "box">
                <input type="text" name="title" class="form-control m-2 text-dark" placeholder="Title"/>
                <textarea class="form-control m-2 text-dark" name="content" placeholder="Content"></textarea>
                <select name="company" id="company">
                    {% for company in companies %}
                    <option value="{{ company.id }}">{{ company.name }}</option>
                    {% endfor %}
                </select>
                <select name="certificate" id="certificate">
                    {% for certificate in certificates %}
                    <option value="{{ certificate.id }}">{{ certificate.name }}</option>
                    {% endfor %}
                </select>
                <br>

                <input type="submit" class="btn btn-dark mt-3" value="New Post" />
            </div>
        </div>
    </div>
</form>
</div>



{% endblock %}